<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
 
	<bean id="xsglAction" class="com.project.xsgl.action.XsglAction">
		<property name="selectDataService" ref="selectDataService"></property>
	</bean>
	<bean id="khxxManagerAction" class="com.project.xsgl.action.KhxxManagerAction">
		<property name="selectDataService" ref="selectDataService"></property>
	</bean>
	<bean id="ddInfoManagerAction" class="com.project.jsgl.action.DdInfoManagerAction">
		<property name="selectDataService" ref="selectDataService"></property>
	</bean>
	<bean id="bomInfoManagerAction" class="com.project.jsgl.action.BomInfoManagerAction">
		<property name="selectDataService" ref="selectDataService"></property>
	</bean>
	<bean id="gxInfoManagerAction" class="com.project.jsgl.action.GxInfoManagerAction">
		<property name="selectDataService" ref="selectDataService"></property>
	</bean>
	<bean id="gyInfoManagerAction" class="com.project.jsgl.action.GyInfoManagerAction">
		<property name="selectDataService" ref="selectDataService"></property>
	</bean>
	
</beans>
